/* Variables */
:root {
    --gray-color: #bcbcbc;
    --input-border-color: var(--gray-color);
    --primary-gradient: linear-gradient(to right, #05703d, #1dbd71);
    --primary-gradient-hover: linear-gradient(to left, #05703d, #1dbd71);
}

/* Reservation Button */
.reservation-button {
    display: inline-block;
    isolation: isolate;
    position: relative;
    border-width: 0px !important;
    border-radius: 100vmax;
    font-size: 17px;
    color: #ffffff !important;
    padding: 7px 17px;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
}

.reservation-button::after,
.reservation-button::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    background: var(--primary-gradient-hover);
    transition: opacity 0.5s ease;
}

.reservation-button::after {
    background: var(--primary-gradient);
    opacity: 1;
}

.reservation-button:hover::after {
    opacity: 0;
}
.reservation-button:hover::before {
    opacity: 1;
}

/* Reservation form */

@media screen and (max-width: 800px) {
    .reservation-form-container {
        flex-direction: column-reverse;
        align-items: stretch !important;
    }
}

.reservation-form-container .reservation-form-left #reservation-form label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.reservation-form-container .reservation-form-left #reservation-form input,
.reservation-form-container .reservation-form-left #reservation-form select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

.reservation-form-container .reservation-form-left #reservation-form button[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
}

.reservation-form-container .reservation-form-right .reservation-form-price {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.reservation-form-container .reservation-form-right .reservation-form-price .reservation-form-price-total {
    font-size: 2em;
    font-weight: 600;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reservation-form-container .reservation-form-right .reservation-form-price .reservation-form-price-without-discount {
    font-size: 1.5em;
    color: var(--gray-color);
    text-decoration: line-through;
}

.reservation-form-container .reservation-form-right h3 {
    font-size: 20px;
    margin-top: 20px;
}

/* Reservation recap */

.reservation-recap .reservation-recap-card {
    background-color: #f9f9f9;
    border-radius: 25px;
    padding: 20px;
}

.reservation-recap .reservation-recap-card .reservation-recap-card-game-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    color: #000;
}

.reservation-recap-price {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.reservation-recap-price-total {
    font-size: 2em;
    font-weight: 600;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0;
}

.reservation-recap-price-without-discount {
    font-size: 1.5em;
    color: var(--gray-color);
    text-decoration: line-through;
}

.reservation-recap-payment-card {
    margin-inline: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
}

/* Activity listing */

.rp-activity-listing {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 800px) {
    .rp-activity-listing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

.rp-activity-listing .rp-activity-item {
    display: flex;
    flex-direction: column;
}

.rp-activity-listing .rp-activity-item .rp-activity-image > img {
    width: 100%;
    max-height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.rp-activity-listing .rp-activity-item .rp-activity-title {
    font-weight: 600;
    font-size: 27px;
}

.rp-activity-listing .rp-activity-item .rp-activity-price {
    font-size: 16px;
    color: #000;
    padding-bottom: 8px;
}

.rp-activity-listing .rp-activity-item .rp-activity-price span {
    font-weight: 600;
    font-size: 22px;
}

.rp-activity-listing .rp-activity-item .rp-activty-meta {
    display: flex;
    font-size: 16px;
    color: #000;
}

.rp-activity-listing .rp-activity-item .rp-activty-meta .rp-activity-langues {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-left: 3px;
}

.rp-activity-listing .rp-activity-item .rp-activty-meta .rp-activity-langues img {
    width: 20px;
}

/* Activity metadata */

.activity-metadata {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 16px;
}

.activity-metadata p {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-weight: 600;
    padding-bottom: 0;
}

.activity-metadata p img {
    width: 20px;
}
